---
import {Image} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import profileImage from '../assets/sample_profile_img.png'
import {getCollection} from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const N_LATEST = 2;
const FEATURED = ['master-thesis', 'photo-mosaics']; // set to empty array to disable

const allProjects = await getCollection('projects', entry => FEATURED.length === 0 || FEATURED.includes(entry.id) );

const latestProjects = allProjects
    .sort((a, b) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, N_LATEST);


---

<Layout>

    <div class="hero mb-32">
        <div class="hero-content flex-col md:flex-row">
            <a href="/about">
                <Image src={profileImage} alt="Image of the author"
                       class="max-w-56 rounded-full object-cover shadow-2xl hover:scale-105"
                />
            </a>
            <div>
                <h3 class="text-2xl font-bold">Hello! My name is</h3>
                <h1 class="text-5xl font-bold">Tobias Weber</h1>
                <p class="pt-3 pb-6">
                    I love coding, problem solving, learning and understanding how stuff works.
                    Having just completed my Master's degree in Computer Science, I’m excited to turn that passion into
                    a career!
                </p>
                <a class="btn btn-primary me-4" href="/about">About Me</a>
                <a class="btn btn-accent" href="mailto:info@tobweb.ch">
                    Contact Me
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-between items-center mb-8">
        <h2 class="text-4xl font-bold">Featured Projects</h2>
        <a href="/projects" class="btn btn-sm btn-neutral">View All</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {latestProjects.map(project =>
                <ProjectCard
                        id={project.id}
                        title={project.data.title}
                        image={project.data.image}
                        pubDate={project.data.pubDate}
                        description={project.data.description}>
                </ProjectCard>
        )}
    </div>
</Layout>
