---
import {Image} from "astro:assets";

interface Props {
    image1: any;
    alt1: string;
    image2: any;
    alt2: string;
    aspect: "16/9" | "2/1" | "3/2" | "4/3" | string;
    caption: string;
}

const {image1, alt1, image2, alt2, caption, aspect} = Astro.props;

---

<div class="">
    <figure class="diff rounded-xl mb-3" tabindex="0" style={{"aspect-ratio": aspect}}>
        <div class="diff-item-1" role="img" tabindex="0">
            <Image src={image1} alt={alt1} class="!rounded-none !m-0"/>
        </div>
        <div class="diff-item-2" role="img">
            <Image src={image2} alt={alt2} class="!rounded-none !m-0"/>
        </div>
        <div class="diff-resizer"></div>
    </figure>
    <div>
        <!--20 px margin, oklch(0.707 0.022 261.325)-->
        <p class="!text-sm !text-center !text-gray-600 dark:!text-gray-400 !mt-0">{caption}</p>
    </div>
</div>