---

import FormattedDate from "./FormattedDate.astro";
import {Image} from "astro:assets";

interface Props {
    id: string;
    title: string;
    image: {
        src: any,
        alt: string
    };
    pubDate: Date;
    description: string;
}

const {id, title, image, pubDate, description} = Astro.props;
---


<a href={'/projects/' +id} class="group card bg-white dark:bg-stone-900 border-2 border-white dark:border-base-100 shadow-sm hover:border-primary">
    <figure class="w-full aspect-[2/1]">
        <Image src={image.src} alt={image.alt} width={600} height={300} loading="eager"
               class="w-full h-full object-cover object-center group-hover:scale-125 transition-transform duration-300" />
    </figure>
    <div class="card-body">
        <div class="text-sm mb-3">
            <FormattedDate date={pubDate} />
        </div>
        <h2 class="card-title group-hover:text-primary/80 dark:group-hover:text-primary transition-colors duration-300">{title}</h2>
        <p>{description}</p>
    </div>
    <div class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-10 dark:group-hover:opacity-5 transition-opacity duration-300"></div>
</a>