---
import {getCollection} from 'astro:content';
import type {CollectionEntry} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import FormattedDate from "../../components/FormattedDate.astro";

interface Props {
    project: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project) => ({
        params: {slug: project.slug},
        props: {project},
    }));
}

const {project} = Astro.props;
const {Content} = await project.render();
---

<Layout>
    <div>
        <a href="/projects" class="btn btn-sm mb-8">Go Back</a>
    </div>
    <FormattedDate date={project.data.pubDate} />
    <Prose>
        <Content/>
    </Prose>
</Layout>
