---
import {getCollection, render} from 'astro:content';
import type {CollectionEntry} from 'astro:content';
import {Image} from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import FormattedDate from "../../components/FormattedDate.astro";

interface Props {
    project: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project) => ({
        params: {slug: project.id},
        props: {project},
    }));
}

const {project} = Astro.props;
const {Content} = await render(project);
const cover = project.data.image.src
---

<Layout title="Projects - TobWeb">
    <div>
        <a href="/projects" class="btn btn-sm mb-8 btn-neutral">Back to Projects</a>
    </div>
    {
        project.data.tools &&
            <div class="flex flex-wrap gap-2 mb-4">
                {project.data.tools?.map(tool =>
                        <div class="badge badge-outline badge-primary">{tool}</div>
                )}
            </div>
    }
    <h1 class="text-6xl font-extrabold mb-4">
        {project.data.title}
    </h1>
    <FormattedDate date={project.data.pubDate}/>
    <div class="mt-4 mb-8">
        <Image src={cover} alt={project.data.image.alt} width={cover.width || 1920} height={cover.height || 1080}
               class="w-full object-contain"/>
    </div>
    <Prose>
        <Content/>
    </Prose>

    <div class="mt-8">
        <a href="/projects" class="btn btn-sm mb-8 btn-neutral">Back to Projects</a>
    </div>
</Layout>
