---
import {getCollection, render} from 'astro:content';
import type {CollectionEntry} from 'astro:content';
import { Image } from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import PageTitle from "../../components/PageTitle.astro";

interface Props {
    project: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project) => ({
        params: {slug: project.id},
        props: {project},
    }));
}

const {project} = Astro.props;
const {Content} = await render(project);
const cover = project.data.image.src
---

<Layout>
    <div>
        <a href="/projects" class="btn btn-sm mb-8">Go Back</a>
    </div>
    <FormattedDate date={project.data.pubDate} />
    <PageTitle>
        {project.data.title}
    </PageTitle>
    <div class="mt-4 mb-8">
        <Image src={cover} alt={project.data.image.alt} width={cover.width || 1920} height={cover.height || 1080} class="w-full object-contain" />
    </div>
    <Prose>
        <Content/>
    </Prose>
</Layout>
